html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  text-align:left;
  font-weight:normal;
  vertical-align:baseline;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {list-style-position: inside;}

body {
  background-image: url(http://subtlepatterns.com/patterns/old_wall.png);
}


#wrapper {
  margin:65px auto 20px auto;
  padding:20px;
  width:800px;
  border-radius: 10px;
  background-color: #BEB7A7;
}

.clear {clear:both;}
